html{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(
        to right bottom,
        rgba(36,37,130,.75),
        rgba(36,37,200,.75)
    ),
    url(Galar.jpg);
    background-size: cover;
}

.header{
    text-transform: uppercase;
    text-align: center;
    font-size: 1.625rem;
    font-family: 'Calistoga', cursive;
}

.headerbg{
    background-color: #F64C72;
    margin: 5vh;
    padding: 2vh;
    border: 3px solid aqua;
    
}

.crabtext{
    color: white;
    text-decoration: underline;
    position: absolute;
    top: 27%;
    left: 38.3%;
    z-index: 1;
}


.crabrave{
    font-family: 'Quicksand', sans-serif;
    height: 20vh;
    font-size: 2.5rem;
    letter-spacing: 1.25rem;
    z-index: 2;    
}

.dogs{
    position: absolute;
    bottom: 0%;
    right: 0%;
    font-size: 1.6rem;
    color: #FF3B3F;
    
}



#zacian{
    position: absolute;
    bottom: 75%;
    left: -25%;

}

#zamazenta{
    position: absolute;
    bottom: 75%;
    left: 10%

}



img{
    height: 20vh;
}